{
  "root": true,
  "rules": {
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/ban-ts-comment": 0
  },
  "overrides": [
    {
      "files": ["__tests__/**/*.ts", "__tests__/**/*.tsx"],
      "extends": ["plugin:jest/recommended"],
      "plugins": ["jest"],
      "parserOptions": {
        "project": ["tsconfig.test.json"]
      }
    }
  ]
}
